{{template "header" .}}
<div>
    <a class="px-5 text-lg italic hover:text-grey-100 pr-8" href="/one_step_at_a_time">One step at a time</a><br>
    <a class="px-5 text-lg italic hover:text-grey-100 pr-8" href="/the_sun_rose_that_day">The sun rose that day</a>
</div>
{{template "footer" .}}
