{{template "header" .}}
<div class="px-6">
<h1 class="py-4 text-2xl semibold tracking-tight">My Contact Page.</h1>
<p> Email me at <a class="underline" href="mailto:raminderis@live.com">raminder@live.com</a>.</p>
</div>
{{template "footer" .}}